// Post

.post {
  font-size: 21px;
  line-height: 32px;
  word-break: break-word;
  font-weight: 400;
  width: 800px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;

  &-title {
    line-height: 60px;
    font-size: 48px;
    color: rgba(41, 41, 41, 1);
    margin-block-start: 0.5em;
  }

  &-author {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    display: flex;
    button {
      margin-left: 10px;
      border-radius: 20px;
      margin-bottom: 15px;
    }
    &-img {
      height: 40px;
      margin: 0 10px 10px 0;
    }
    &-link {
      margin-top: 5px;
    }
    &-link:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &-description {
    line-height: 28px;
    font-size: 20px;
    color: rgba(117, 117, 117, 1);
  }

  &-content {
    font-size: 25px;
    line-height: 45px;
    font-family: Times, "Times New Roman";
  }

  &-hr {
    height: 50px;
    color: blue;
  }
}
