<head>
  <title>Login</title>
  <link rel="stylesheet" href="/css/login.css" />
</head>

<body>
  <div class="card">
    <form action="/auth/login" method="POST" class="box">
      <h1>Login</h1>
      {{#if messages.error}}
      <p id="message" class="text-danger">
        {{messages.error}}
      </p>
      {{/if}}
      <p class="text-muted"> Please enter your login and password!</p>
      <input type="text" name="username" placeholder="Username" />
      <input type="password" name="password" placeholder="Password" />
      <a class="forgot text-muted" href="#">Forgot password?</a>
      <input type="submit" value="Login" />
      <button><a href="/auth/signup">Sign Up</a></button>
    </form>
  </div>
</body>