<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" />
</head>

<body>
    <div id="wave"></div>
    <div class="card">
        <form action="/auth/login" method="POST" class="box">
            <h1>Login</h1>
            {{#if message}}
            <p id="message" class="text-danger"> {{ message }} </p>
            {{/if}}
            <p class="text-muted"> Please enter your login and password!</p>
            <input type="text" name="username" placeholder="Username" />
            <input type="password" name="password" placeholder="Password" />
            <a class="forgot text-muted" href="#">Forgot password?</a>
            <input type="submit" value="Login" />
            <button><a href="/auth/signup">Sign Up</a></button>
        </form>
    </div>
</body>

</html>

<script>
    document.querySelector('.forgot').onclick = function () {
        alert('Please try to remember it')
    };
</script>