<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div id="wave"></div>
    <div class="card">
        <form onsubmit="event.preventDefault()" class="box">
            <h1>Sign Up</h1>
            <p class="text-muted">Create a new account</p>
            <input type="text" name="mail" placeholder="Email"
                pattern="^([0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*@([0-9a-zA-Z][-\w]*[0-9a-zA-Z]\.)+[a-zA-Z]{2,9})$">
            <input type="text" name="" placeholder="Username">
            <input type="password" name="" placeholder="Password">
            <input type="submit" name="" value="Sign Up" href="#">
            <div class="col-md-12">
                <ul class="social-network social-circle">
                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</body>

</html>