.all-blogs {
  padding-bottom: 5px;
  max-width: 680px;
  align-items: center;
  display: block;
  margin: auto;
}

.title-main-page {
  text-align: center;
}

.title {
  text-decoration: none;
  color: rgba(41, 41, 41, 1);
  max-width: 680px;
  line-height: 28px;
}

.des {
  color: rgba(117, 117, 117, 1);
  max-width: 680px;
}

.cate {
  color: rgba(41, 41, 41, 1);
  font-weight: 500;
}

.author {
  font-weight: 500;
  text-decoration: none;
}
