form {
  width: 40%;
}
.post {
  cursor: auto !important;
  font-size: 21px;
  line-height: 32px;
  font-weight: 400;
  width: 700px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  margin: auto;
}
.post-title {
  line-height: 60px;
  font-size: 48px;
  color: #292929;
  margin-block-start: 0.5em;
}
.post-author {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  display: flex;
}
.post-author button {
  margin-left: 10px;
  border-radius: 20px;
  margin-bottom: 15px;
}
.post-author-img {
  height: 40px;
  margin: 0 10px 10px 0;
}
.post-author-link {
  margin-top: 5px;
}
.post-author-link:hover {
  text-decoration: underline;
}
.post-description {
  line-height: 28px;
  font-size: 20px;
  color: #757575;
}
.post-content {
  font-size: 25px;
  line-height: 45px;
  font-family: Times, "Times New Roman";
}
.post-hr {
  height: 50px;
  color: blue;
}
