.all-blogs {
  padding-bottom: 5px;
}

.title-main-page {
  text-align: center;
}
.blogs {
  margin-left: 23.5%;
}

.title {
  text-decoration: none;
  color: black;
  max-width: 680px;
}

.des {
  color: rgba(117, 117, 117, 1);
  max-width: 680px;
}

.cate {
  color: rgba(41, 41, 41, 1);
  font-weight: 500;
}
