.header-top {
  transform-origin: 30% top;
  animation: transitionIn 0.8s;
}

.header-bottom {
  transform-origin: bottom;
  animation: subscribe ease-out 1.5s;
  position: relative;
}

@keyframes transitionIn {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes subscribe {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

body {
<<<<<<< HEAD
=======
  /* background-image: url(/img/destop.png); */
>>>>>>> c73a7fa6890608ae4868b41f79cb10abfb610971
  background-image: url(/img/pluralsight.png);
  background-size: cover;
  overflow-x: hidden;
}
.hover {
  position: relative;
  width: 50%;
  height: 450px;
}

.hover-overlay {
  position: absolute;
  transition: all 0.4s;
}

.hover-5-title {
  position: absolute;
  bottom: 10%;
  transition: all 0.5s;
  font-size: 50px;
  /* text-align: center; */
}

.hover-5-title a {
  border: 2px solid;
  text-decoration: none;
  font-size: 30px;
  margin-left: 5px;
}

.good-morning {
  margin-top: 10px;
  margin-left: 12%;
  font-size: 32px;
}

.hover-5-content {
  margin-bottom: -15%;
}

form {
  margin-top: 5%;
  text-align: center;
}

input {
  height: 50px;
  width: 30%;
  font-size: 20px;
  margin-top: 20px;
}

.btn-Subscribe {
  background: rgb(189, 0, 0);
  color: white;
  font-size: 30px;
  transition: 0.2s;
  font-size: 25px;
  margin-bottom: 8px;
}

.btn-Subscribe:hover {
<<<<<<< HEAD
  background-color: red;
=======
  background-color: white;
  color: black;
>>>>>>> c73a7fa6890608ae4868b41f79cb10abfb610971
}

.welcome {
  font-family: "Megrim", cursive;
  width: 105%;
}
.transition-ok {
  width: 65%;
  height: 200px;
  position: absolute;
}
