<link rel="stylesheet" href="/css/comment.css" />
<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-8">
      <div class="headings d-flex justify-content-between align-items-center mb-3">
        <h5>Comments</h5>
      </div>
      <div class="card p-3">
        <div class="d-flex justify-content-between align-items-center">
          <div class="user d-flex flex-row align-items-center"><span><small
                class="font-weight-bold text-primary">james_olesenn</small>
              <small class="font-weight-bold">Hmm, This poster looks cool</small></span>
          </div>
          <small>2 days ago</small>
        </div>

        <div class="action d-flex justify-content-between mt-2 align-items-center">
          <div class="icons align-items-center time">Sat May 22 2021 17:41:24
            GMT+0700 (Indochina Time)</div>
        </div>

        <div class="action d-flex justify-content-between mt-2 align-items-center">

        </div>
      </div>
      <div class="card p-3 mt-2 mb-4">
        <div class="d-flex justify-content-between align-items-center">
          <div class="user d-flex flex-row align-items-center"><span><small
                class="font-weight-bold text-primary">olan_sams</small>
              <small class="font-weight-bold">Loving your work and profile!
              </small></span>
          </div>
          <small>3 days ago</small>
        </div>

        <div class="action d-flex justify-content-between mt-2 align-items-center">
          <div class="icons align-items-center time">
            Sat May 22 2021 17:41:24 GMT+0700 (Indochina Time)
          </div>
        </div>

      </div>

      <div class="card mt-2 mb-4">
        <input class="form-label-create-comment form-control" name="content"></input>
      </div>
      <button type="submit" class="btn btn-success">Post Comment</button>
    </div>
  </div>