<header class="p-3 bg-dark text-white sticky-top">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-white"><i class="fas fa-home icon-title"></i>Home</a></li>
        <li><a href="/blog" class="nav-link px-2 text-white">All Blogs</a></li>
        <li><a href="/blog/create" class="nav-link px-2 text-white">New Blog</a></li>
        <li><a href="/me/stored/blogs" class="nav-link px-2 text-white">My Blogs</a></li>
        <li><a href="/about" class="nav-link px-2 text-white">About Me</a></li>
        <li class="m-2">|</li>
        <li>
          <p class="nav-link nav-link-welcome disabled text-info"></p>
        </li>
      </ul>
      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle d-flex" id="dropdownUser1"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="/img/favicon9.jpg" alt="mdo" width="32" height="32" class="rounded-circle">
          <div class="text-white px-2 py-1">{{user.username}}</div>
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="/profile"><i class="fas fa-user-circle icon-title"></i>My Profile</a></li>
          <li><a class="dropdown-item" href="/blog/create"><i class="fas fa-external-link-alt icon-title"></i>Creat A
              New Blog</a></li>
          <li><a class="dropdown-item" href="/me/stored/blogs"><i class="fas fa-newspaper icon-title"></i>My Blogs</a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="/auth/logout"><i class="fas fa-sign-out-alt icon-title"></i>Sign out</a>
          </li>
        </ul>
      </div>

      <div class="text-end">
        <a type="button" class="btn btn-outline-light me-2" href="/auth/login">Login</a>
        <a type="button" class="btn btn-warning" href="/auth/signup">Sign-up</a>
      </div>
    </div>
  </div>
</header>
<script src="/js/welcome-navbar.js"></script>