<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark my-header">
    <div class="container-fluid container p-2">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"><i class="fas fa-home icon-title"></i>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/news">All Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/news/create">New Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/me/stored/posts">My Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Me</a>
          </li>

        </ul>
      </div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown nav-item-dropdown-user">
          <img src="/img/user.png" alt="" class="user-img">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            User
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/auth/login"><i class="fas fa-user-circle icon-title"></i>My Profile</a>
            </li>
            <li><a class="dropdown-item" href="/news/create"></i><i
                  class="fas fa-external-link-alt icon-title"></i>Creat New Post</a></li>
            <li><a class="dropdown-item" href="/me/stored/posts"><i class="fas fa-newspaper icon-title"></i>My Posts</a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt icon-title"></i>Log Out</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/signup">Sign Up</a>
        </li>
      </ul>
    </div>
  </nav>
</body>