<title>About me</title>
<div class="about-me">
    <h2 class="title-main-page">Information</h1>
        <div class="shadow-lg p-3 mb-3 mt-4 bg-black rounded about-text">Name : Trần Hữu Toàn</div>
        <div class="shadow-lg p-3 mb-3 bg-body rounded about-text">Date of birth : 18/04/2002</div>
</div>
<div class="contact">
    <h2 class="mt-4">Contact me on</h2>
    <div class="shadow-lg p-3 mb-3 mt-4 bg-black rounded about-text">Facebook :
        <a href="https://www.facebook.com/huutoan02/">https://www.facebook.com/huutoan02</a>
    </div>
    <div class="shadow-lg p-3 mb-3 mt-3 bg-black rounded about-text">Github :
        <a href="https://github.com/HuuToan02">https://github.com/huutoan02</a>
    </div>
    <div class="shadow-lg p-3 mb-3 mt-3 bg-black rounded about-text">Source Code :
        <a href="https://github.com/HuuToan02/NodeJS-Blog">https://github.com/HuuToan02/NodeJS-Blog</a>
    </div>
    <div class="shadow-lg p-3 mb-3 mt-3 bg-black rounded about-text">Instagram :
        <a href="https://www.instagram.com/htoan.js/">https://www.instagram.com/htoan.js</a>
    </div>
</div>