<title>Home</title>
<link rel="stylesheet" href="/css/home.css" />

<div id="wave"></div>

<div class="homepage">
  <div class="alert alert-primary mt-3" role="alert">
    <h1>Home Page</h1>
  </div>

  {{! <img style="width: 1295px" src="/img/home1.png" alt=""> }}

  {{! https://pbs.twimg.com/media/DzrYahjXQAE44Sd.jpg }}

</div>