<title>Home</title>
<link rel="stylesheet" href="/css/home.css" />

{{! <div id="wave"></div> }}

<div class="hover hover-5 text-white rounded container">
  <div class="hover-5-content">
    <div class="hover-5-title text-uppercase font-weight-light mb-0">
      <p>Welcome To The Home Page</p>
      <br>
      <strong class="font-weight-bold text-white"></strong>
      <a class="btn btn-outline-light btn-lg" href="/blog">View Blogs</a>
    </div>
  </div>
</div>

<script>
  let hour = new Date().getHours();
  let hello = document.querySelector('.font-weight-bold');
  if (hour >= 0 && hour <= 11) {
    hello.innerHTML = "Good Morning";
  }
  else if (hour > 11 && hour <= 17) {
    hello.innerHTML = "Good Afternoon";
  }
  else hello.innerHTML = "Good Evening";
</script>