<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div class="homepage">
        <div class="alert alert-primary mt-3" role="alert">
            <h1>Home Page</h1>
        </div>

        {{!-- <img style="width: 1295px"
            src="../img/home-cat.jpg"
            alt=""> --}}

        {{!-- https://pbs.twimg.com/media/DzrYahjXQAE44Sd.jpg --}}

        <div class="jumbotron mt-4">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                to
                featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
    </div>
</body>

</html>