<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <h2 class="title-main-page">Search Page</h1>
        <form method="">
            <div class="mb-3">
                <label for="search-input" class="form-label">Enter Keywords</label>
                <input type="text" name="q" class="form-control" id="search-input" placeholder="Jeff Bezos">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
</body>
</html>